.nav__burger
    width: 24px
    height: 16px
    display: flex
    justify-content: space-between
    flex-direction: column
    span
        display: block
        height: 3px
        background: $blue
