
.footer
    width: 100%
    height: 100%
    background: $light-blue
    &__inner
        background: $help-title-blue
        font-family: Gilroy
        margin-right: 98px
        &__main
            display: flex

        &__contacts

        &__logo
            svg
                width: 48px
                height: 32px

        &__address

        &__tel

        &__email

        &__about
            a
                display: block

        &__soc
            a
                display: block

        &__bottom
            padding-top: 64px

