header
    margin: 0 auto
    display: flex
    justify-content: space-between
    max-width: 1366px
    margin-top: 48px
    +mw(1384)
        padding: 0 20px


.header
    &__logo
        cursor: pointer
        width: 48px
        height: 48px

    &__nav
        cursor: pointer