
    
.send-msg
    min-height: 100%
    min-width: 100%
    display: flex
    align-items: center
    justify-content: center
    z-index: 1000
    visibility: hidden
    opacity: 0
    transform: translateY(-100%)
    transition: .2s
      

    &__form
        width: 540px
        height: 800px
        padding: 56px
        background: #FFFFFF
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2)
        border-radius: 10px
        font-family: Gilroy
        position: relative
        
        +mw768
            width: 330px
            height: 500px
            padding: 30px
        
        input
            border: 1px solid rgba(53,110,173, .4)
            box-sizing: border-box
            border-radius: 10px
            width: 428px
            height: 72px
            margin-bottom: 32px
            font-size: 20px
            padding: 5px 10px
            transition: .1s

            &:focus
                box-shadow: 0px 0px 20px rgba(16, 112, 177, 0.2)
            +mw768
                width: 100%
                height: 40px
                margin-bottom: 12px


        label
            display: block
            margin-bottom: 8px
            color: $title-blue

    &__title
        font-size: 20px
        line-height: 30px
        letter-spacing: 0.04em
        color: #1F3F68
        margin-bottom: 48px
        +mw768
            margin-bottom: 15px


    &__name


    &__email


    &__msg
        width: 428px
        height: 144px
        border: 1px solid rgba(53, 110, 173, .4)
        box-sizing: border-box
        border-radius: 10px
        margin-bottom: 72px
        padding: 15px 10px 10px
        font-size: 20px
        font-family: Gilroy
        letter-spacing: 0.08em
        resize: none
        transition: .1s
        &:focus
                box-shadow: 0px 0px 20px rgba(16, 112, 177, 0.2)
        +mw768
            width: 100%
            height: 100px
            margin-bottom: 30px 


    &__btn
        background: $light-blue
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2)
        border-radius: 10px
        font-size: 16px
        line-height: 26px
        text-align: center
        letter-spacing: 0.04em
        color: #FFFFFF
        cursor: pointer
        transition: .2s
        &:hover
            background: rgba(90, 152, 208, .8)
            box-shadow: 5px 30px 50px rgba(16, 112, 177, 0.2)
.send-msg.active
    visibility: visible
    opacity: 1
    transform: translateY(0%)





