
.work
    width: 100%
    height: 100%
    background: $light-blue
    z-index: -10
    .wrapper
        display: flex
        align-items: center

    &__inner
        background: $help-title-blue
        font-family: Gilroy
        border-radius: 0 200px 0 0
        margin-right: 98px
        padding: 100px 0 100px 0
    &__text

    &__title
        font-family: Gilroy
        font-size: 36px
        line-height: 46px
        letter-spacing: 0.05em
        color: #FFFFFF
        width: 317px
        padding-bottom: 35px

    &__subtitle
        font-size: 16px
        line-height: 26px
        letter-spacing: 0.05em
        color: #FFFFFF
        opacity: 0.6
        width: 70%

    &__lets
        button
            width: 220px
            height: 56px
            background: $light-blue
            border-radius: 10px
            font-size: 16px
            line-height: 26px
            letter-spacing: 0.04em;
            color: #FFFFFF
            cursor: pointer
            transition: .2s
            &:hover
                background: rgba(90, 152, 208, .8)
                

