doctype html

html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
        link(rel="manifest" href="img/favicon/site.webmanifest")
        link(rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5")
        link(rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
        link(rel="stylesheet" href="styles/app.css")
        title Afrianska

    body
        .container
            header
                .header__logo
                    svg 
                        use(xlink:href="img/svg/sprite.svg#logo")

                .header__nav
                    .nav__burger
                        span 
                        span 
                        span

            main
                .main__bg
                .wrapper
                    .main__info
                        .main__title New Automation Tool for Your Home
                        .main__subtitle.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate 
                            ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.
                        .button.main__button See Our Project
                    .main__illustration
                        img(src="img/header/illustration.png", alt="Main Illustration")
                    

            section.help.wrapper
                .help__left
                    h1.help__title. 
                        What we do to help
                        our client grow in
                        digital era,
                    .help__block1.help-block
                        .help-block__img
                            img(src="img/help/1.png", alt="")

                        .help-block__title Make Your business To Be Better Famous In Internet
                        .help-block__text.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        .help-block__more Learn more
                            i.fas.fa-arrow-right
                .help__right
                    .help__block2.help-block
                        .help-block__img
                            img(src="img/help/3.png", alt="")

                        .help-block__title Bring Technology To Your Comfrotable Home
                        .help-block__text.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        .help-block__more Learn more
                            i.fas.fa-arrow-right
                    .help__block3.help-block
                        .help-block__img
                            img(src="img/help/2.png", alt="")

                        .help-block__title Build Your Digital Product That Suitable For Your Need
                        .help-block__text.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        .help-block__more Learn more
                            i.fas.fa-arrow-right
            
            section.clients
                .wrapper
                    .clients__header
                        .clients__title Our Beloved Client
                        .clients__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    
                    .clients__logos
                    
                        .clients__logo
                            svg
                                use(xlink:href="img/svg/sprite.svg#logo-1") 
                        .clients__logo
                            svg
                                use(xlink:href="img/svg/sprite.svg#logo-2")
                        .clients__logo
                            svg
                                use(xlink:href="img/svg/sprite.svg#logo-3")
                        .clients__logo
                            svg
                                use(xlink:href="img/svg/sprite.svg#logo-4")
                        .clients__logo
                            svg
                                use(xlink:href="img/svg/sprite.svg#logo-4")
                        .clients__logo
                            svg
                                use(xlink:href="img/svg/sprite.svg#logo-3")
                        .clients__logo
                            svg
                                use(xlink:href="img/svg/sprite.svg#logo-5")
                        .clients__logo.clients__more
                            p More clients
                        .clients__border
            
            section.work
                .work__inner
                
                    .wrapper
                        .work__text
                            .work__title Intersted to work with our team?
                            .work__subtitle.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        .work__lets
                            button.work__button Let's Talk





        script(src="scripts/main.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollToPlugin.min.js")
